//  =============================================================================
//  
//  Global.scss
//  Casey Zumwalt
//  
//  Notes: Global styles to support all EWU sites.
//  
//  =============================================================================

//  =============================================================================
//  Imports
//  =============================================================================

    /* Normalize */

    @import "normalize.scss";

    /* Foundation Import */
    // Edit foundation.scss to pull in the components you want, such as buttons. 
    // Default is set to global and grid only.
    @import "compass";
    @import "foundation.scss";
    @import "ss-social";

//  =============================================================================
//  Webfonts
//  =============================================================================
    
    @import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=dc3e9658-e932-4dc8-9875-10f94230d6e0");
    
    @font-face{
    font-family:"DIN Next W01 Bold";
    src:url("../webfonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix");
    src:url("../webfonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix") format("eot"),url("../webfonts/9949035f-6226-4080-a14a-bf7d94ffb1e1.woff") format("woff"),url("../webfonts/6241bd09-15c2-485e-9796-9db8d0aa6974.ttf") format("truetype"),url("../webfonts/af94da3e-4232-416a-b6bc-f39f85dd5db6.svg#af94da3e-4232-416a-b6bc-f39f85dd5db6") format("svg");
    }
    @font-face{
    font-family:"DINNextW01-BoldItalic";
    src:url("../webfonts/d7c339aa-46b7-4f31-8573-7ea230bfcbbb.eot?#iefix");
    src:url("../webfonts/d7c339aa-46b7-4f31-8573-7ea230bfcbbb.eot?#iefix") format("eot"),url("../webfonts/140a0a6f-f218-4071-8eb8-f2bc45ed5121.woff") format("woff"),url("../webfonts/ecbfe302-4f46-4fef-b823-83eedbc353e7.ttf") format("truetype"),url("../webfonts/58f54e11-a0ac-4cfa-852e-3c73b93d74a8.svg#58f54e11-a0ac-4cfa-852e-3c73b93d74a8") format("svg");
    }
    @font-face{
    font-family:"DIN Next W01 Italic";
    src:url("../webfonts/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix");
    src:url("../webfonts/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix") format("eot"),url("../webfonts/c5635d60-91fa-4e4b-8a51-41c97fc744c3.woff") format("woff"),url("../webfonts/de34232f-b870-49c0-a6c0-24c25db73bc2.ttf") format("truetype"),url("../webfonts/35916fb2-3ed3-4d39-bec8-74155a53b1f0.svg#35916fb2-3ed3-4d39-bec8-74155a53b1f0") format("svg");
    }
    @font-face{
    font-family:"DIN Next W01 Regular";
    src:url("../webfonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
    src:url("../webfonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("../webfonts/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("../webfonts/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("../webfonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
    }
    @font-face{
    font-family:"DIN Next W02 Cond";
    src:url("../webfonts/8cf2ee30-97aa-4b89-9947-8facccba0d0b.eot?#iefix");
    src:url("../webfonts/8cf2ee30-97aa-4b89-9947-8facccba0d0b.eot?#iefix") format("eot"),url("../webfonts/68b2a800-4041-4d83-94d6-2489e5b32bff.woff") format("woff"),url("../webfonts/647359e3-dec6-4948-aa1c-d8aa895946ae.ttf") format("truetype"),url("../webfonts/79b3cc8e-6148-4a17-9849-fb52c73f376a.svg#79b3cc8e-6148-4a17-9849-fb52c73f376a") format("svg");
    }
    @font-face{
    font-family:"ITCLubalinGraphW01-Demi";
    src:url("../webfonts/cc99e9f2-4765-47e8-8e9e-f8afa7f45aa2.eot?#iefix");
    src:url("../webfonts/cc99e9f2-4765-47e8-8e9e-f8afa7f45aa2.eot?#iefix") format("eot"),url("../webfonts/59400685-dc94-4bda-8b78-cceef07d0471.woff") format("woff"),url("../webfonts/d8199ae6-f15d-4aad-b2c6-4fb6aa728384.ttf") format("truetype"),url("../webfonts/33772b07-3175-4e1c-9aca-009627307668.svg#33772b07-3175-4e1c-9aca-009627307668") format("svg");
    }

//  =============================================================================
//  Variables
//  =============================================================================
    
    // Colors
    // -------------------------
    $white: #FFF;
    $black: #222;


    // Fonts
    // -------------------------
    $DIN: "DIN Next W01 Regular", "helvetica neue", helvetica, sans-serif;
    $DIN-italic: "DIN Next W01 Italic", "helvetica neue", helvetica, sans-serif;
    $DIN-bold: "DIN Next W01 Bold", "helvetica neue", helvetica, sans-serif;
    $DIN-bold-italic: "DINNextW01-BoldItalic", "helvetica neue", helvetica, sans-serif;
    $DIN-condensed: "DIN Next W02 Cond";
    $slab: "Museo-slab", "helvetica neue", helvetica, sans-serif;


//  =============================================================================
//  Base
//  =============================================================================



    
    * {
      -webkit-font-smoothing: antialiased;
    }
  

    body, p {
      font-family: $DIN;
      font-size: 16px;
      line-height: 1.45;
    }

    h4, h5, h6 {
      font-family: $DIN-bold;
      font-weight: normal;
    }

    a {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    // Form Element Styling
    // -------------------------

    form {
      input, textarea {
        @include border-radius(6px);
      }
      button {
        @include border-radius(6px);
      }
    }

    // Form Hinting
    // -------------------------
    form.hinting {
      .input {
        position: relative;
        label {
          position: absolute;
          top: 7px;
          left: 23px;
        }
      }
    }

    // WP Core
    // -------------------------
    .alignnone {
        margin: 5px 20px 20px 0;
    }

    .aligncenter,
    div.aligncenter {
        display: block;
        margin: 5px auto 5px auto;
    }

    .alignright {
        float:right;
        margin: 5px 0 20px 20px;
    }

    .alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }

    .aligncenter {
        display: block;
        margin: 5px auto 5px auto;
    }

    a img.alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }

    a img.alignnone {
        margin: 5px 20px 20px 0;
    }

    a img.alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }

    a img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .wp-caption {
        background: #fff;
        border: 1px solid #f0f0f0;
        max-width: 96%; /* Image does not overflow the content area */
        padding: 5px 3px 10px;
        text-align: center;
    }

    .wp-caption.alignnone {
        margin: 5px 20px 20px 0;
    }

    .wp-caption.alignleft {
        margin: 5px 20px 20px 0;
    }

    .wp-caption.alignright {
        margin: 5px 0 20px 20px;
    }

    .wp-caption img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }

    .wp-caption p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
// =============================================================================
// Mobile Breakpoint (767)
//   ===========================================================================


@media only screen and (min-width: 461px) and (max-width: 767px){

  .slider {
    overflow: visible !important;

  }
    .single-post, .page-template-page-menu-php  {
    #sidebar_right {
      display: none;
      }
    #sidebar {
      display: none;
    }
    }

    .second-header .row {
    height: 85px !important;

     ul {
      margin-top: -30px;
      
    }
  }

  footer {
    .half-width .container {
      width: 85% !important;
      margin: 0 auto;
    }
    .social-ul {
      margin-left: 30px;
    }
  }
}
// ==-=-=-=--=-=-=--=-==-=--=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-==-=-=-=
// Mobile Breakpoint 460
// ==-=-=-=-=-=-=-==-=-=-==-==-=-=-=-=-=--=-=-=-===-=--=-=-=-=-=-=-=-=-=-

@media only screen and (max-width: 460px) {

   //Hide all the things.

   body.page #sidebar {
    display: none;
   }

  footer {
    .half-width {
      display: none;
    } 
  }

  .menu-items ul li {
      width: 100% !important;
      float: left;
  }
  
  .first-header .promo {
    display: none;
  }

  .second-header {
    display: none;
  }
  .flexible-spaces {
    display: none;
  }
  .slider {
    display: none;
  }
  .single-post {
    .main {
      padding: 20px !important;
    }
  }
  //Locations List Page 



  //Locations Page Stylings
  body.locations {
    .page-header {

      text-align: center;
    }
    #sidebar {
    display: none;
    }
    li.location {
      width: 100% !important;
      margin-bottom: 20px;
      .image {
        width: 40%;
      }
      .information {
        width: 55%;
      }

      
    }
  }

  //Single Post Stylings

  body.single-post {
    #sidebar {
      display: none;
    }
  }


  .pager-house {
    display: none;
  }

  footer {

    .half-width {
      display: none;
    }
  }


  .ewu-footer {
    display: none;
  }

  footer.mobile-footer {

    nav.mobile-simple {
      li {
        display: block;
        height: 77px;
        text-align: center;
        padding: 12px;
        

        a {
          font-size: 42px;
          font-family: $DIN-bold;

          &:hover {
            opacity: 0.80;
          }
        }
      }
    }

    #secondary-nav {
      background: $white;
      padding-top: 20px;
      padding-bottom: 10px;

      select {
        width: 90%;
        margin: 0 auto;
        display: block;
      }

      p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        font-family: $slab;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}


//  =============================================================================
//  Modules
//  =============================================================================

    // Header
    // -------------------------
    header {
      .first-header {
        .promo {
          &.right {
            text-align: right;
            &.flush {
              padding-right: 0;
            }
          }
          &.left {
            text-align: left;
            &.flush {
              padding-left: 0;
            }
          }
          a:hover {
            opacity: 0.8;
          }
        }
      }
    }

    // Navigation
    // -------------------------

    nav.nav-main {
      height: 42px;
      .nav {
        list-style: none;
        position: relative;
        margin-top:-30px;
        margin-bottom: 0;
        left: 0;
        text-align: right;
        margin-right: 15px;
        & > li {
          display: inline-block;

          // Dropdown Nav
          &.dropdown {
            position: relative;
            .dropdown-menu {
              
              display: none;
              position: absolute;
              padding: 5px;
              left: -20px;
              top: 36px;
              width: 175px;
              li {
                display: block;
                text-align: center;
                a {
                  color: $white;
                  
                  font-size: 0.85em;
                  font-weight: 700;
                  &:hover {
                    
                  }
                }
              }
            }
            &:hover {
              .dropdown-menu {
                display: block;
              }
            }
          }

          &:last-child {
            &.dropdown {
              .dropdown-menu {
                left: auto;
                right: -20px;
              }
            }
          }

        }
      }
    }

    nav.nav-main.left {
      ul {
        text-align: left;
        margin: 0 auto;
      }
    }

    // Slider
    // -------------------------

    .slider {
      overflow: hidden;
      position: relative;
      clear:both;
    }

    .rev_slider_wrapper {
      overflow: visible;
      padding: 0 !important;
    }

    #rev_slider_1_1 {
      z-index: 2;
    }
    .pager-house {
      margin-top: -15px;
      z-index: 10;
      position: relative;
    }

      .tp-bullets {
        bottom: -40px !important;
      }
      .tp-bullets.simplebullets.round .bullet {
        background: none;
        background-color: #e4882d;
        border-radius: 50%;
        height: 31px;
        width: 31px;
      }
      .tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected {
        background-color: #cd2b27;
      }
      .bullet {
        margin-right: 10px !important;
      }

    // Slider mask

    .mask {
      position: absolute;
      top: 0;
      z-index: 9;
    }

    // Flexible Spaces
    // -------------------------

    //Flexible Space: Two Column Image/Description

    #left-two-col {
      padding: 40px 0;
      .image-holder {
        
        .wrap {
          border-radius: 4px;
          background-color: $white;
          border: 1px solid #c8c8c8;
          padding: 25px;
        }

          img {
            
          }
        

      }

      h2 {
        margin-top: 0;
      }
    }

    //Flexible Space: Three Featured Items


    .three_feature {
      padding: 40px 0;

      h3.featured {

      }
      .feature {
      }
      .img_wrap {
        border: 10px solid #fff; /* stroke */
          -moz-box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */
          -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */
          box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */

        img {
          display: block;
          @media (max-width: 960px) {
            
          }     

        }
      }
      h4 {
        //color: #f7ad3c;
        text-shadow: 0 1px 0 #fff;
        margin: 15px 0 5px;
        line-height: 1.1;
      }
      p {
        &:last-child {
          margin: 0;
        }
      }
      .large-10 {
        overflow: hidden;
      }
    }

    //Flexible Space: Mailing List

    .mailing-list {
      padding: 40px 0;
      .row {
        padding: 0 60px;
        @media (max-width: 960px) {
          padding: 0;
        }
      }
      
    }

    //Flexible Space: Menu Slider
    #menu-carousel {
      .flex-viewport {
        .slides {
          .slide {
            h6 {
              font-weight: 700;
              width: 163px;
            }
          }
        }
      }
    }
    // Flexible Space: Menu Slider Styles 

  #menu_slider {
    .flexslider {
      margin: 35px 0;
      padding: 0;
      position: relative;
    }
    ul {
      list-style: none;
      max-height: 225px;
      margin: 0;
      overflow: hidden;
      li {
        margin: 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        .image-wrapper {
          //background: url(../img/menu_slide_bg.png) no-repeat;
          background: #FFF;
          display: inline-block;
          height: 164px;
          //width: 201px;
          padding: 11px;
          //margin: 25px auto 15px;
          //width: 172px;
          
          -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
          -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
          box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }
          img {
            border:1px solid #c8c8c8;
          }

          h6 {
            font-family: $slab;
            font-weight: normal;
            margin: 0;
            text-align: center;
          }
        }


    }
  }

  #menu-carousel .flex-direction-nav li a {
    background: url(../img/carousel-nav.png);
    width: 46px;
    height: 46px;
    display: block;
    position: absolute;
    top: 59px;
    text-indent: -9999px;
    &:hover {
      opacity: 0.8;
    }
    &.flex-prev {
      left: -46px;
    }
    &.flex-next {
      background-position: top right;
      right: -46px;
    }
  }

  // Mobile Flex
  // -------------------------
  .flexible-mobile {
    @media (min-width: 480px) {
      display: none;
    }
  }

  // Sidebar Left Spacing 
  // =========================

.promo_1_wrap {
  margin-top: 30px;
}
.promo_2_wrap {
  margin-top: 20px;
  margin-bottom: 30px;
}

    

    .location {
      a {
        display: block;
      }
      
      .title {
        h4 {
          margin: 0;
        }
        .general-address {
          font-size: 1.2em;
          font-weight: 700;
          display: block;
        }
        .manager {
          color: #999;
        }
      }
      .information {
        h4 {
          font-size: 1.1em;
          margin: 0;
        }
        span {
          color: $black;
          font-size: 0.9em;
          display: block;
          line-height: 1.45;
          b {
            
          }
        }
      }
    }

    // Single Location  Page
    // -------------------------
    #details {
      background: $white;
      padding: 30px 30px 100px;
      .contact {
        padding-bottom: 30px;
      }
      hr {
        width: 90%;
        margin: 0 auto;
      }
      .additional-info {
        padding-top: 30px;
      }
    }
    //Non Mobile Social Links
  .location-wrap {
   .social ul.social-ul {
      text-align: left !important;
      list-style: none;
      li {
        a {
          font-size: 16px;
          color: #000000 !important;
          span {
            &.img {
            display: inline-block;
            height: 28px;
            width: 28px;
            margin-right: 10px;
            }
            &.link {
              display: inline-block;
              line-height: 28px;
              vertical-align: top;
              padding-top: 2px;
            }
          }
        }

      }
    }
  }
    //Mobile Version
    .social-mobile {

      .social-ul {


        float: none;
        margin: 20px auto 0;
        width: 185px;
      }
    }
    // Location List Page 
    // ----------------------
    ul.locations {

      .location {

        &:last-child {
          @media (max-width: 767px) { float: left !important;}
        }
        .image {
          background: #FFF;
          display: inline-block;
          //height: 135px;
          //width: 201px;
          padding: 11px 9px 5px;
          //margin: 25px auto 15px;
          //width: 172px;
          margin-bottom: 10px;
          
          -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
          -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
          box-shadow: 0 0 10px rgba(0,0,0,0.3);

          img {
            width: 100%
          }
        }
      }
    }
    #map {
      background: url(../img/loader.gif) no-repeat center center;
    }

    // Blog Template
    // -------------------------
    .single-post .main, .blog .main {
      border-right: 1px solid #DDD;
      padding: 55px;
      .post {
        h1 {
          margin-top: 0;
        }
        footer {
          a {
            font-family: $slab;
            font-weight: 700;
            font-size: 0.9em;
          }
          .navigation {
            float: left;
          }
        }
      }
    }
    .single-post {
      .button.twitter, .button.facebook {
        background: none;
        padding: 0;
      }
    }
    .single-post #sidebar_right, .blog #sidebar_right  {
      padding: 20px 15px;
      h4, ul {
        
        font-size: 16px;
      }
      h4 {
        &.title {
          margin-bottom: 20px;
        }
      }
      ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 15px;
        }
        h4 {
          margin: 0;
          line-height: 16px;
        }
        time {
          font-size: 10px;
          font-style: Italic;
          line-height: 10px;
        }
      }

    }

    // 404
    // -------------------------
    .not-found {
      padding: 100px;
      margin: 0 auto;
      text-align: center;
      font-family: $DIN;
      h1 {
        color: #CCC;
        font-family: $DIN-condensed;
        font-size: 10em;
        margin: 0;
        line-height: 200px;
      }
      h2 {
        font-family: $DIN-bold;
        color: $black;
      }
    }

    // Footer
    // -------------------------
    .site-footer {
      
      position: relative;
      overflow: hidden;
      @include box-shadow(0 -8px 0 rgba(black, 0.05), inset 0 3px 3px rgba(black, 0.5));

      // Footer Links
      // -------------------------
      a {
        color: $white;
        @include text-shadow(0 1px 0 rgba($black, 0.2));
        &:hover {
          color: rgba($white, 0.76);
        }
      }

      .half-width {
        width: 50%;
        padding: 70px;
        .container {
          max-width: 500px;
          width: 100%;

          .section-header {
            border-bottom: 1px solid rgba(0,0,0,.1);
            @include box-shadow(0 1px 0 rgba(255,255,255,.2));
            padding: 0 0 20px;
            margin-bottom: 30px;
            overflow: hidden;
            h2 {
              @include text-shadow(0 1px 0 rgba(0,0,0,.15));
              color: $white;
              float: left;
              font-family: $slab;
              font-weight: 700;
              text-transform: none;
              margin: 0;
            }
            h5 {
              @include text-shadow(0 1px 0 rgba(0,0,0,.15));
              font-family: $slab;
              float: right;
              font-weight: 700;
              margin: 20px 0 0;
              a {
                
                margin: 0;
              }
            }
          }
        }
        &.lt {
          background-image: url(../img/footer-pattern.png);
          background-repeat: repeat;
          float: left;
          border-right: 1px solid rgba(255,255,255,0.1);
          .container {
            float: right;
            .split {
              float: left;
              &.left {
                width: 45%;
                padding-right: 15px;
              }
              &.right {
                width: 55%;
              }
            }
          }
          #menu-footer-menu {
            li a {
              font-family: $slab;
              font-weight: 700;
            }
          }
          .copyright {
            font-size: 0.8em;
            margin: 25px 0;
            font-weight: 700;
            @include text-shadow(0 1px 0 rgba(white, 0.15));
          }
        }
        &.rt {
          background: url(../img/footer-pattern.png);
          background-repeat: repeat;
          float: right;
          border-left: 1px solid rgba(0,0,0,.2);

          
          
        }
      }

    }

    .social {
      a {
        font-size: 2.5em;
        @include text-shadow(0 1px 0 rgba(white,.3));
      }
    }

    // Recent news
    // -------------------------

    .recent-news {
      
      list-style: none outside none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        margin-right: 10%;
        width: 45%;
        &:last-child {
          margin-right: 0;
        }
        h4 {
          font-family: $slab;
          font-weight: 700;
          margin: 0;
          @include text-shadow(0 1px 0 rgba(0,0,0,.15));
          a { color: white; }

        }
        time {
          @include text-shadow(0 1px 0 rgba(white,.15));
          display: block;
          font-size: 0.8em;
          margin: 5px 0;
          font-weight: 700;
        }
        p {
          font-size: .9;
        }
        .read-more {
          @include text-shadow(0 1px 0 rgba(0,0,0,.15));
          font-family: $slab;
          font-weight: 700;
          display: block;
        }
      }
    }


    // EWU Footer
    // -------------------------

    .ewu-footer {
      clear: both;
      background: url(../img/footer-bg.jpg) repeat-x top center;
      overflow: hidden;
      .links {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        height: 70px;
        text-align: center;
        li {
          display: inline-block;
          line-height: 70px;
          a {
            color: #d8cfb5;
            font-family: $slab;
            font-weight: 700;
            padding: 10px;
            text-decoration: underline;
          }
          &.ewu-brand {
            height: 35px;
            line-height: 70px;
              a {
              color: transparent;
              display: block;
              padding: 0;
              width: 120px;
              height: 35px;
              background: url(../img/ewu_brand.png) no-repeat top center;
              position: relative;
              top: 12px;

            }
          }
        }
      }
    }


    // Sharing
    // -------------------------
    .share {
      margin: 0 0 0 40px;
      float:left;
    }
    .sharrre{
        margin: 0;
        float: left;
      }
      .button {
        border-style: solid;
        border-width: 0;
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
        line-height: 1;
        margin: 0;
        position: relative;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-size: 1em;
        border-color: transparent !important;
        color: white;
        @include box-shadow(0 0 0 !important);
      }

      .sharrre .box a:hover{
        text-decoration:none;
      }
      .sharrre .count {
        color:#525b67;
        display:block;
        font-size:18px;
        font-weight:bold;
        line-height:40px;
        height:40px;
        position:relative;
        text-align:center;
        width:70px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        border:1px solid #b2c6cc;
        background: #fbfbfb; /* Old browsers */
        background: -moz-linear-gradient(top, #fbfbfb 0%, #f6f6f6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* IE10+ */
        background: linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
      }
      .sharrre .count:before, .sharrre .count:after {
        content:'';
        display:block;
        position:absolute;
        left:49%;
        width:0;
        height:0;
      }
      .sharrre .count:before {
        border:solid 7px transparent;
        border-top-color:#b2c6cc;
        margin-left:-7px;
        bottom: -14px;
      }
      .sharrre .count:after {
        border:solid 6px transparent;
        margin-left:-6px;
        bottom:-12px;
        border-top-color:#fbfbfb;
      }
      .sharrre .share {
        color:#FFFFFF;
        display:block;
        font-size:12px;
        font-weight:bold;
        height:30px;
        line-height:30px;
        margin-top:8px;
        padding:0;
        text-align:center;
        text-decoration:none;
        width:70px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px; 
      }
      #twitter {
        iframe {
          width: 80px !important;
        }
      }
      #facebook .share {
        text-shadow: 1px 0px 0px #26427e;
        filter: dropshadow(color=#26427e, offx=1, offy=0); 
        border:1px solid #24417c;
        background: #5582c9; /* Old browsers */
        background: -moz-linear-gradient(top, #5582c9 0%, #33539a 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5582c9), color-stop(100%,#33539a)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #5582c9 0%,#33539a 100%); /* IE10+ */
        background: linear-gradient(top, #5582c9 0%,#33539a 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5582c9', endColorstr='#33539a',GradientType=0 ); /* IE6-9 */
        box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #80a1d6 inset;
      }
