/*  =========================================================================  */
//  
//  App.scss
//  Built on Foundation 4 - http://foundation.zurb.com/
//  Using best practices from SMACSS - http://smacss.com/
//
//  Comment early and often.
//
    @charset "UTF-8";
//
/*  =========================================================================  */


//  =============================================================================
//  Imports
//  =============================================================================
  
    /* Normalize */

    @import "normalize.scss";

    /* Foundation Import */
    // Edit foundation.scss to pull in the components you want, such as buttons. 
    // Default is set to global and grid only.
    @import "compass";
    @import "foundation.scss";
    @import "global";
    @import "ss-social";


//  =============================================================================
//  Webfonts
//  =============================================================================

	
	
	@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=dc3e9658-e932-4dc8-9875-10f94230d6e0");
	
	@font-face{
	font-family:"DIN Next W01 Bold";
	src:url("../webfonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix");
	src:url("../webfonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix") format("eot"),url("../webfonts/9949035f-6226-4080-a14a-bf7d94ffb1e1.woff") format("woff"),url("../webfonts/6241bd09-15c2-485e-9796-9db8d0aa6974.ttf") format("truetype"),url("../webfonts/af94da3e-4232-416a-b6bc-f39f85dd5db6.svg#af94da3e-4232-416a-b6bc-f39f85dd5db6") format("svg");
	}
	@font-face{
	font-family:"DINNextW01-BoldItalic";
	src:url("../webfonts/d7c339aa-46b7-4f31-8573-7ea230bfcbbb.eot?#iefix");
	src:url("../webfonts/d7c339aa-46b7-4f31-8573-7ea230bfcbbb.eot?#iefix") format("eot"),url("../webfonts/140a0a6f-f218-4071-8eb8-f2bc45ed5121.woff") format("woff"),url("../webfonts/ecbfe302-4f46-4fef-b823-83eedbc353e7.ttf") format("truetype"),url("../webfonts/58f54e11-a0ac-4cfa-852e-3c73b93d74a8.svg#58f54e11-a0ac-4cfa-852e-3c73b93d74a8") format("svg");
	}
	@font-face{
	font-family:"DIN Next W01 Italic";
	src:url("../webfonts/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix");
	src:url("../webfonts/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix") format("eot"),url("../webfonts/c5635d60-91fa-4e4b-8a51-41c97fc744c3.woff") format("woff"),url("../webfonts/de34232f-b870-49c0-a6c0-24c25db73bc2.ttf") format("truetype"),url("../webfonts/35916fb2-3ed3-4d39-bec8-74155a53b1f0.svg#35916fb2-3ed3-4d39-bec8-74155a53b1f0") format("svg");
	}
	@font-face{
	font-family:"DIN Next W01 Regular";
	src:url("../webfonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
	src:url("../webfonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("../webfonts/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("../webfonts/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("../webfonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
	}
	@font-face{
	font-family:"DIN Next W02 Cond";
	src:url("../webfonts/8cf2ee30-97aa-4b89-9947-8facccba0d0b.eot?#iefix");
	src:url("../webfonts/8cf2ee30-97aa-4b89-9947-8facccba0d0b.eot?#iefix") format("eot"),url("../webfonts/68b2a800-4041-4d83-94d6-2489e5b32bff.woff") format("woff"),url("../webfonts/647359e3-dec6-4948-aa1c-d8aa895946ae.ttf") format("truetype"),url("../webfonts/79b3cc8e-6148-4a17-9849-fb52c73f376a.svg#79b3cc8e-6148-4a17-9849-fb52c73f376a") format("svg");
	}
	@font-face{
	font-family:"ITCLubalinGraphW01-Demi";
	src:url("../webfonts/cc99e9f2-4765-47e8-8e9e-f8afa7f45aa2.eot?#iefix");
	src:url("../webfonts/cc99e9f2-4765-47e8-8e9e-f8afa7f45aa2.eot?#iefix") format("eot"),url("../webfonts/59400685-dc94-4bda-8b78-cceef07d0471.woff") format("woff"),url("../webfonts/d8199ae6-f15d-4aad-b2c6-4fb6aa728384.ttf") format("truetype"),url("../webfonts/33772b07-3175-4e1c-9aca-009627307668.svg#33772b07-3175-4e1c-9aca-009627307668") format("svg");
	}



//  =============================================================================
//  Variables
//  =============================================================================
	
	$header-top-color: #facd3b;
	$header-darker-orange: #eda72d;
	$main-nav-color: #eb5b46;
	$white: #fff;
	$menu-slider-bg: #eb5b46;
	$menu-slider-border: #d74833;
	$green: #86a03c;

	$black: #222;

	// Fonts
	$DIN: "DIN Next W01 Regular", "helvetica neue", helvetica, sans-serif;
	$DIN-italic: "DIN Next W01 Italic", "helvetica neue", helvetica, sans-serif;
	$DIN-bold: "DIN Next W01 Bold", "helvetica neue", helvetica, sans-serif;
	$DIN-bold-italic: "DINNextW01-BoldItalic", "helvetica neue", helvetica, sans-serif;
	$DIN-condensed: "DIN Next W02 Cond";
	$lubalin: "museo-slab";



//  =============================================================================
//  Base
//  =============================================================================

	body {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAGUlEQVQYV2P4/+4SED29tpcBQgFJBggFRABn8RfjJMTz8AAAAABJRU5ErkJggg==) repeat;
	}

	h4, h5, h6 {
		font-family: $DIN-bold;
		font-weight: normal;
	}


//  =============================================================================
//  Layout
//  =============================================================================

	.banner {
		background-color: $header-top-color;
		padding-top: 15px;
		position: relative;
		z-index: 5;
	}
	.first-header {
		max-height: 115px;
	}
	.second-header {
		background-color: $white;
		height: 42px;
		border-top: 2px solid $header-darker-orange;

		-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
		box-shadow: 0 2px 8px rgba(0,0,0,0.2);
	}
	hr {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAIAAAAW4yFwAAAAEElEQVQYV2M4s38lw////wETXQUyn34A7gAAAABJRU5ErkJggg==) repeat-x;
		border: none;
		height: 2px;
		margin: 0 auto;
		max-width: 1000px;
	}

//  =============================================================================
//  Modules
//  =============================================================================

// Header Styles
	.brand {
		background: url(../img/logo.png);
		width:420px;
		height: 147px;
		text-indent: -9999px;
		display: block;
	}

	// Nav Styles

	nav.nav-main {
		ul {
			list-style: none;
			position: relative;
			top: 0px;
			left: 0;

			li {
				display: inline-block;
				margin-left: 5px;
				padding-top: 6px;
				border-top: 4px solid $white;

				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;

				a {
					font-size: 16px;
					padding: 0 10px;
					text-transform: uppercase;
					color: $main-nav-color;
				}
				&.active {
					border-top: 4px solid $header-darker-orange;
				}
				&:hover {
					border-top: 4px solid lighten($header-darker-orange, 30%);
					a {
						color: lighten($main-nav-color, 10%);
					}
				}
			}
		}
	}

	//Slider Styles 

	#slider-container {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAGklEQVQYV2P4/PkLED158owBTD0FkgwQCogAeUYZJSPgInoAAAAASUVORK5CIIA=);
	}

	// Slider text styles

	.tp-caption.big_orange{
		position: absolute; 
		color: $header-darker-orange; 
		text-shadow: none; 
		font-weight: normal; 
		font-family: $lubalin;
		font-size: 42px; 
		line-height: 42px; 
		padding: 0px 4px; 
		margin: 0px; 
		border-width: 0px; 
		border-style: none; 
		background-color:transparent;;	
		letter-spacing: -1.5px;															
	}
	


	// Flexible Space: Menu Slider Styles 
	.elastislide-carousel {
		max-height: 225px;
	}
	#menu_slider {
		background-color: $menu-slider-bg;
		border-top: 3px solid $menu-slider-border;
		.flexslider {
			margin: 35px 0;
			padding: 0;
			position: relative;
		}
		ul {
			list-style: none;
			max-height: 225px;
			margin: 0;
			overflow: hidden;
			li {
				margin:0 10px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}

				.image-wrapper {
					//background: url(../img/menu_slide_bg.png) no-repeat;
					background: #FFF;
					display: inline-block;
					height: 164px;
					//width: 201px;
					padding: 11px;
					//margin: 25px auto 15px;
					//width: 172px;
					
					-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
					-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
					box-shadow: 0 0 10px rgba(0,0,0,0.3);
				}
					img {
						border:1px solid #c8c8c8;
					}

					h6 {
						font-family: $lubalin;
						font-weight: normal;
						margin: 0;
						text-align: center;
						color: #fff;
					}
				}


		}
	}
	#menu-carousel-end {
		height: 5px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAGUlEQVQYV2N4eHAuEJ1a28sAoYAkA4QCIgAnVhOHhGtBFAAAAABJRU5ErkJggg==) repeat;
	}

	#menu-carousel .flex-direction-nav li a {
		background: url(../img/carousel-nav.png);
		width: 46px;
		height: 46px;
		display: block;
		position: absolute;
		top: 59px;
		text-indent: -9999px;
		&:hover {
			opacity: 0.8;
		}
		&.flex-prev {
			left: -46px;
		}
		&.flex-next {
			background-position: top right;
			right: -46px;
		}
	}


// Slider mask

.slider {
	position: relative;
}
.mask {
	background: rgba(255,255,255,0.3);
	position: absolute;
	top: 0;
	z-index: 9;
}

//Flexible Space: Two Column Image/Description

#left-two-col {
	margin: 40px 0;
	.image-holder {
		
		.wrap {
			border-radius: 4px;
			background-color: $white;
			border: 1px solid #c8c8c8;
			padding: 25px;
		}

			img {
				
			}
		

	}

	h2 {
		color: #859f3b; // text color
		font-size: 30px;
		text-shadow: 0 1px 0 #fff;
		margin-top: 0;
	}
}

//Flexible Space: Three Featured Items


.three_feature {
	margin: 40px 0;
	.img_wrap {
		border: 10px solid #fff; /* stroke */
			-moz-box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */
			-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */
			box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */

		img {
			display: block;			

		}
	}
	h4 {
		color: #f7ad3c;
		text-shadow: 0 1px 0 #fff;
		margin: 15px 0 5px;
	}
	p {
		&:last-child {
			margin: 0;
		}
	}
	.large-10 {
		overflow: hidden;
	}
}

//Basic Page Styling 

.content {
	
background: #fff url(../img/page_bg.png) repeat-x top;

.page-header h1 {
	font-size: 28px;
	color: $green;
	text-shadow: 0 1px 0 #fff;
	margin-left: 20px;
}
.promo_1_wrap {
	margin-top: 30px;
}
.promo_2_wrap {
	margin-top: 20px;
	margin-bottom: 30px;
}

}


//Location Page Styling
.location-wrap {

}
#map {
	height: 360px;
	margin-top: -25px;

}

//  =============================================================================
//  Menu Items
//  =============================================================================

		.menu-categories {
			list-style: none outside none;
			font-size: 1em;
			margin-bottom: 30px;
			padding: 30px;
			border-bottom: 1px solid #cfc3ae;
			li {
				display: inline-block;
				a {
					color: $black;
					display: inline-block;
					padding: 4px;
					text-transform: uppercase;
				}
				&:active a {
					color: $main-nav-color;
				}
			}
		}

		.menu-items {
			list-style: none outside none;
			margin: 0;
			padding: 0;
			.menu-item {
				width: 50%;
				float: left;
				padding: 10px;
				img {
					border: 10px solid $white;
					@include box-shadow(0 0 10px rgba(0,0,0,.15));
				}
				h5 {
					color: darken($header-top-color, 15%);
					font-size: 24px;
				}
			}
		}

//Footer Styling

.site-footer {
	
	//background:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAHElEQVQYV2P4sdUaiO4tNmX4DqaAHIb7YArIBwD/CBCSAtduNAAAAABJRU5ErkJggg==) repeat, url(../img/footer_color.png) no-repeat center bottom;
	position: relative;
	overflow: hidden;
	@include box-shadow(0 -8px 0 rgba(black, 0.05), inset 0 3px 3px rgba(black, 0.5));

	// Footer Links
	// -------------------------
	a {
		color: white;
		@include text-shadow(0 1px 0 rgba(black, 0.2));
		&:hover {
			color: rgba(white, 0.76);
		}
	}

}

.half-width {
	width: 50%;
	padding: 70px;
	.container {
		max-width: 500px;
		width: 100%;

		.section-header {
			border-bottom: 1px solid rgba(0,0,0,.1);
			@include box-shadow(0 1px 0 rgba(255,255,255,.2));
			padding: 0 0 20px;
			margin-bottom: 30px;
			overflow: hidden;
			h2 {
				@include text-shadow(0 1px 0 rgba(0,0,0,.15));
				color: $white;
				float: left;
				font-weight: 700;
				margin: 0;
			}
			h5 {
				@include text-shadow(0 1px 0 rgba(0,0,0,.15));
				font-family: $lubalin;
				float: right;
				margin: 20px 0 0;
				a {
					
					margin: 0;
				}
			}
		}
	}
	&.lt {
		background: url(../img/footer-pattern.png) repeat #f4ba3b;
		float: left;
		border-right: 1px solid rgba(255,255,255,0.2);
		.container {
			float: right;
			.split {
				float: left;
				width: 50%;
			}
		}
		#menu-footer-menu {
			li a {
				font-family: $lubalin;
			}
		}
		.copyright {
			color: #c9651c;
			font-size: 0.8em;
			margin: 25px 0;
			@include text-shadow(0 1px 0 rgba(white, 0.5));
		}
		.social {
			a {
				color: #dda335;
				font-size: 2.5em;
				@include text-shadow(0 1px 0 rgba(white,.3));
			}
		}
	}
	&.rt {
		background: url(../img/footer-pattern.png) repeat #f2aa3b;
		float: right;
		border-left: 1px solid rgba(0,0,0,.1);

		
		
	}
}

// Recent news
// -------------------------

.recent-news {
	
	list-style: none outside none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	li {
		float: left;
		margin-right: 10%;
		width: 45%;
		&:last-child {
			margin-right: 0;
		}
		h4 {font-family: $lubalin;
			margin: 0;
			@include text-shadow(0 1px 0 rgba(0,0,0,.15));
			a { color: white; }

		}
		time {
			@include text-shadow(0 1px 0 rgba(white,.15));
			color: #cc691e;
			display: block;
			font-size: 0.8em;
			margin: 5px 0;
		}
		p {
			font-size: .9;
		}
		.read-more {
			@include text-shadow(0 1px 0 rgba(0,0,0,.15));
			font-family: $lubalin;
			
			display: block;
		}
	}
}

.ewu-footer {
	clear: both;
	background: url(../img/footer-bg.jpg) repeat-x top center;
	overflow: hidden;
	.links {
		list-style: none outside none;
		margin: 0;
		padding: 0;
		height: 70px;
		text-align: center;
		li {
			display: inline-block;
			line-height: 70px;
			a {
				color: #d8cfb5;
				font-family: $lubalin;
				padding: 10px;
				text-decoration: underline;
			}
			&.ewu-brand {
				height: 70px;
				line-height: 70px;
					a {
					color: transparent;
					display: block;
					padding: 0;
					width: 120px;
					height: 50px;
					background: url(../img/ewu_brand.png) no-repeat top center;
					position: relative;
					top: 12px;

				}
			}
		}
	}
}