//  =============================================================================
//
//  grill.scss
//  Casey Zumwalt
//
//  Notes: Stylesheet for The Grill.
//
//  =============================================================================

//  =============================================================================
//  Imports
//  =============================================================================

    @import "global";


//  =============================================================================
//  Variables
//  =============================================================================
    $main-nav-color: #c10606;
    $white: #fff;
    $menu-slider-bg: #eb5b46;
    $menu-slider-border: #d74833;
    $green: #86a03c;
    $red: #a60505;

    // Fonts
    // -------------------------

    $gnuolane: "gnuolane";

//  =============================================================================
//  Base
//  =============================================================================
    body {
      background-color: #dbdbdb;
    }

    h1,h2,h3,h4,h5,h6 {
      text-rendering: auto;
    }

    h1, h2, h3 {
      font-family: $gnuolane;
      color: $main-nav-color;
      text-transform: uppercase;
    }
    a {
      color: $red;
      &:hover, &:focus {
        color: darken($red, 10%);
        cursor: url(../img/grill/cursor-grill.png), auto;
      }
    }

    // Form
    // -------------------------
    form {
      button {
        background: $main-nav-color;
        border-color: darken($main-nav-color, 10%);
        @include box-shadow(0 4px 10px rgba($black, 0.3));
        &:hover {
          background: lighten($main-nav-color, 5%);
        }
      }
    }

    // Buttons
    // -------------------------

    .button, button {
      background: $main-nav-color;
      border-color: darken($main-nav-color, 10%);
      @include box-shadow(0 4px 10px rgba($black, 0.3));
      &:hover {
        background: lighten($main-nav-color, 5%);
      }
    }

    // ==-=-=-=--=-=-=--=-==-=--=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-==-=-=-=
// Mobile Breakpoint 768
// ==-=-=-=-=-=-=-==-=-=-==-==-=-=-=-=-=--=-=-=-===-=--=-=-=-=-=-=-=-=-=-

@media only screen and (min-width: 461px) and (max-width: 768px) {
  .promo {
    width: 50% !important;
  }
  .brand_wrapper {
    width: 50% !important;
  }

  .flex-viewport {
    width: 85%;
    margin: 0 auto;


  }
  #menu_slider ul li {
    margin: 10px 48px 0px 0px;
  }


  .second-header .row {
    height: 85px !important;
  }
  .nav-main ul {
    float: right !important;
  }


  .second-header .row {
    height: 42px !important;
  }

  ul.flex-direction-nav {

    li {

      a.flex-prev {
        left: 9px !important;
      }
      a.flex-next {
        right: 9px !important;
      }
    }

  }
  .single-post, .blog {
    #sidebar_right {
      display: none;
    }
  }

  .site-footer .half-width {
    width: 100%;
  }
  .site-footer .half-width.lt .container {
    margin-right: 80px;
  }
  footer.mobile-footer {
    display: none !important;
  }

}
// ==-=-=-=--=-=-=--=-==-=--=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-==-=-=-=
// Mobile Breakpoint 460
// ==-=-=-=-=-=-=-==-=-=-==-==-=-=-=-=-=--=-=-=-===-=--=-=-=-=-=-=-=-=-=-

@media only screen and (max-width: 460px) {


  .second-header {
    display: none;
  }
  .flexible-spaces {
    display: none;
  }

    footer.mobile-footer {
      margin-top: 40px;
    }

    #menu-mobile-navigation {

        li {
          background-color: #dbdbdb;
          border-top: 1px solid #c8c8c6;
          box-shadow: inset 1px 1px 1px $white;
          &:last-child {
            border-bottom: 1px solid #c8c8c6;
          }
          a{
            color: $red;
            font-family: $gnuolane;
            font-weight: 400;
            text-shadow: 0px 1px 0px $white;
          }
        }

    }
    .single-post {
    #sidebar_right {
      display: none;
      }
    }
    .page-template-page-menu-php {
    #sidebar {
      display: none;
      }
    }

    .locations {

      li {
        width: 100% !important;

    }
  }
  .menu-items .menu-item {
    width: 100% !important;
    float: left;
}

    footer .mobile-footer {
      margin-top: 20px;

      .mobile-simple {
        li {
          padding: 5px !important;
        }
      }
    }

    #menu-mobile-navigation {


        li {
          background-color: #dbdbdb;
          border-top: 1px solid #c8c8c6;
          box-shadow: inset 1px 1px 1px $white;
          &:last-child {
            border-bottom: 1px solid #c8c8c6;
          }
          a{
            color: $red;
            font-family: $gnuolane;
            font-weight: 400;
            text-shadow: 0px 1px 0px $white;
            text-transform: uppercase;
          }
        }

    }

    #secondary-nav {
      p {
        color: $red;

      }
    }

    header {
        .first-header .row {
          height: 165px !important;
        }
        .brand_wrapper {
          text-align: center;
          margin-bottom: 20px;
          .brand {
            margin: 0 auto;
            width: 100%;
            background-position: center 5px !important;
          }
        }
        .promo {
          display: none;
        }
    }
}


    //  =============================================================================
    //  Layout
    //  =============================================================================

      .banner {
        position: relative;
        z-index: 5;
      }
      .first-header {
        padding-top: 0px;

        .row {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAGUlEQVQYV2M4yMYGRLNYWRkgFJBkgFBABABrJQa7Yf/76QAAAABJRU5ErkJggg==);
        }
      }
      .second-header {
        .row {
          background-color: $white;
        height: 42px;
        margin-top: 0px;
        border-top: 2px solid #000;
        }
      }
      hr {
        height: 0px;
        border-top: 1px solid rgba($black, 0.2);
        border-bottom: 1px solid rgba($white, 0.6);
      }

    //  =============================================================================
    //  Modules
    //  =============================================================================

    // Header Styles
      .brand {
        background: url(../img/grill/grill-logo.png) no-repeat center right;
        width:192px;
        height: 152px;
        text-indent: -9999px;
        display: block;
        margin-top: 8px;
      }

      header {
        z-index: 999;
        .first-header {
          max-height: 125px;
          .row {
            background: url(../img/footer-pattern.png) repeat $red;
            height: 125px;
            }

          .promo a {
            display: block;
          }

        }
        position: relative;
        z-index: 10;


      }

      // Nav Styles

      nav.nav-main {
        .nav {
        margin-top: -33px !important;
          & > li {
            // Dropdown Nav
            &:hover {
              background: #efefef;
            }
            &.dropdown {
              .dropdown-menu {
                top: 40px;
                background: rgba($black, 0.8);
                li {
                  a {
                    font-family: $gnuolane;
                    font-size: 1em;
                    &:hover {
                      color: $main-nav-color;
                    }
                  }
                }
              }
            }
            &:last-child {
              &.dropdown {
                .dropdown-menu {
                  right: 0;
                }
              }
            }

          }
        }

            a {
              font-family: $gnuolane;
              font-size: 18px;
              text-transform: uppercase;
              color: $main-nav-color;
              display: block;
              height: 40px;
              line-height: 40px;
              padding: 0 7px;
            }
          li.active a {
            background: $main-nav-color;
            color: $white;
          }
      }

      //Slider Styles

      .slider {
        position: absolute !important;
        top: 0;
        left: 0;
        height: 580px;
        width: 100%;
        @media (max-width: 1024px) {
          position: relative !important;
          height: auto;
        }
      }

      .pager-house {
        background-color: #c10505;
        background-image: linear-gradient(left, rgba(1,1,1,.49) -25%, rgba(255,255,255,.49) 50%, rgba(1,1,1,.49) 125%);
        margin-top: -15px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAADklEQVQYV2NgQAAp3AwABaMAT8iDoO8AAAAASUVORK5CIIA=);
        height: 64px;
        margin-top: 380px;
        z-index: 10;
        position: relative;
        @media (max-width: 960px) {
          margin-top: 0;
        }
      }

        .tp-bullets {
          bottom: 15px !important;
          @media (max-width: 960px) {
            bottom: -47px !important;
          }
        }
        .tp-bullets.simplebullets.round .bullet {
          background: none;
          background-color: #ac0505;
          border-radius: 0;
          height: 30px;
          width: 25px;
          margin: 0 !important;
          counter-increment: my-awesome-counter;
          &:before {
            content: counter(my-awesome-counter);
            color: $white;
            display: block;
            font-family: $DIN-bold;
            width: 25px;
            line-height: 34px;
            text-align: center;
          }
        }
        .tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected {
          background-color: $white;
          &:before {
            color: $main-nav-color;
          }
        }

        .tp-bullets .tparrows {
          background: url(../img/grill/pager-arrows.png) no-repeat top;
          width: 96px;
          height: 30px;
          margin-top: 0;
          &.tp-rightarrow {
            background-position: top right;
          }
          &.tp-leftarrow {
            background-position: top left;
          }
        }

      .mask {
        background: url(../img/grill-mask.png);
      }

      // Flexible space top area
      // -------------------------
      .flexible-spaces > div:first-child {
        background: url(../img/grill/special-bg.png) #5b5b5b;
        color: $white;
        padding: 30px 0;
        position: relative;
        @include box-shadow(0 5px 0 rgba($black, 0.1));
        h4 {
          color: $black;
          font-family: $gnuolane;
          @include text-shadow(0 1px 0 rgba($white, 0.2));
          padding: 0 10px;
          text-transform: uppercase;
        }
        p {
          padding: 0 10px;
          @include text-shadow(0 2px 2px rgba($black, 0.4));
        }
      }

      .flexible-spaces {
        h2 {
          color: $red;
          @include text-shadow(0 1px 0 #fff);
        }
      }


      // Flexible Space: Menu Slider Styles
      .elastislide-carousel {
        max-height: 225px;
      }
      #menu_slider {
        background-color: $menu-slider-bg;
        border-top: 3px solid $menu-slider-border;
        ul {
          list-style: none;
          max-height: 225px;
          margin-left: 10px;

          li {
            margin: 10px 10px 0 0;
            .image-wrapper {
              //background: url(../img/menu_slide_bg.png) no-repeat;
          background: #FFF;
          display: inline-block;
          height: 171px;
          //width: 201px;
          padding: 11px;
          //margin: 25px auto 15px;
          //width: 172px;

          -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
          -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
          box-shadow: 0 0 10px rgba(0,0,0,0.3);
            }
              img {

                border:1px solid #c8c8c8;
              }

              h6 {
                margin: 0;
                text-align: center;
                color: #fff;
                font-family: $gnuolane;
                text-transform: uppercase;
                letter-spacing: 2px;
              }
            }


        }
      }

    //Flexible Space: Two Column Image/Description

    #left-two-col {
      margin-top: 15px;
      .image-holder {

        .wrap {
          border-radius: 4px;
          background-color: $white;
          border: 1px solid #c8c8c8;
          padding: 25px;
        }


      }
    }

    //Flexible Space: Three Featured Items


    .three_feature {
      padding: 20px 0;
      @include box-shadow(inset 0 8px 0 rgba($black, 0.4), 0 8px 0 rgba($black, 0.2));
      .img_wrap {
        border: 10px solid #fff; /* stroke */
          -moz-box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */
          -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */
          box-shadow: 0 2px 8px rgba(0,0,0,.28), inset 0 0 24px rgba(0,0,0,.43); /* drop shadow and inner glow */
        img {
          display: block;

        }
      }
      h3.featured {

          font-family: $gnuolane;
          color: $main-nav-color;
          text-transform: uppercase;
          text-shadow: 0 1px 0 white;
          text-align: center;
          font-size: 24px;
        }
      h4 {
        //color: #f7ad3c;
        text-shadow: 0 1px 0 #fff;
      }
    }

    //Basic Page Styling

    .content {

    background: #fff url(../img/page_bg.png) repeat-x top;

    .page-header h1 {
      font-size: 28px;
      color: $green;
      text-shadow: 0 1px 0 #fff;
      margin-left: 0;
    }
    .promo_1_wrap {
      margin-top: 30px;
    }
    .promo_2_wrap {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    }
// Locations
// -------------------------
.page-template-page-location-full-php {
  #sidebar {
    display: none;
  }
  .page-header {

    h2 {
      text-align: center;
    }
  }
}
.locations #main-content {
  margin-bottom: 30px;
}
.location-categories {
  display: none;
}
ul.locations {
  list-style: none outside none;
  padding: 0;
  width: 90%;
  margin: 0 auto 30px;
  .location {
    margin: 0 0 20px;

    float:left !important;

    .image {
      float: left;
      width: 100%;
    }
    .information {
      float: left;
      margin-left: 5%;
      width: 70%;
      .address {
                  color: #999;
                }
    }
  }
}

.location {
  a:hover {
    opacity: 0.8;
  }
  h4 {
    color: $red;
    font-family: $gnuolane;
    font-weight: 700;
    text-transform: uppercase;
  }
  span {
    b {
      color: $red;
    }
  }
}


    //Location Page Styling
    .location-wrap {
      .ss-icon {
          color: $red;
        }

      .recent-news {

        p {
          color: $black;
        }
      }
    }
    #map {
      height: 360px;
      margin-top: -25px;

    }

//  =============================================================================
//  Menu Items
//  =============================================================================

    .menu-categories, .page-sub {
      list-style: none outside none;
      font-size: 1em;
      margin-bottom: 0;
      padding: 30px 20px;
      border-bottom: 1px solid #cfc3ae;
      li {
        display: inline-block;
        a {
          color: $black;
          display: inline-block;
          padding: 4px;
          text-transform: uppercase;
        }
        &.active a, &.current_page_item a {
          color: $red;
          font-family: $DIN-bold;
          font-weight: bold;
        }
      }

    }


    .page-sub {
      padding: 10px 0 !important;
      border-bottom: 0;
    }


    .menu-items  {

      .menu-item {
        width: 50%;
        float: left;
        padding: 20px;
        img {
          border: 10px solid $white;
          @include box-shadow(0 0 10px rgba(0,0,0,.15));
        }
        h5 {
          color: $red;
          font-size: 24px;
          font-family: $gnuolane;
          text-transform: uppercase;
        }
        p {
          padding-bottom: 40px;
          border-bottom: 1px dotted #DDD;
          margin-bottom: 0;
        }
        &:last-child p {
          border-bottom: 0;
        }
      }

    }



    //Single Page Styling

    .page {

      .page-header {
        margin-top: 20px;
        h1 {
          color: $red;
        }
      }
    }

    //Single Blog Post Styling
    article  {
      margin-left: 15px;
      margin-bottom: 2em;

      header {
        background: none;

        h1 {
          margin: 5px 0 -5px;
          text-transform: none;
        }
        .entry-meta {
          margin-bottom: 10px;
          font-family: $slab;
          font-weight: 300;
          font-style: italic;

          a {
            color: $main-nav-color;
          }
        }
      }
      .entry-content {
        p {
          font-family: $slab;
        }
      }
      footer {
        a {
          font-family: $slab;
          color: $red;
        }
      }
      #comments {
        display: none;
      }
    }

    //Sidebar Right

      #sidebar_right {

        h3 {
          font-family: $slab;
          color: $black;
          weight: 700;
          text-transform: none;
        }
        li {
          list-style: none;
          margin-top: 8px;
          h4 {
            margin:0;
            font-family: $gnuolane;
            line-height: 20px;
            text-transform: uppercase;
            a{
              color: $red;
              font-weight: 300;
            }
          }
          time {
            font-size: 11px;
            font-family: $slab;
            font-weight: 700;
            font-style: italic;
          }
        }
      }

    //Footer Styling
    .site-footer {
      .half-width {
        &.lt {
          background-color: #b20304;
          border-right: 1px solid rgba($white, 0.1);
          @include box-shadow(inset 0 0 150px #880202, inset 0 0 150px #880202);
          .copyright {
            color: #d1d3d4;
            @include text-shadow(0 1px 0 rgba($black, 0.5));
          }
          .social {
            a {
              color: #850304;
            }
          }
          .container {
            .split.left {
              padding-right: 65px;

              .brand-image {
                width: 90%;
                padding-left: 10px;
              }
            }
          }

        }
        &.rt {
          background-color: #880202;
          border-left: 1px solid rgba($black, 0.4);
        }
      }
    }

    // Recent News
    // -------------------------

    .recent-news {
      li {
        time {
          color: #939598;
        }
        p {
          color: $white;
          font-family: $slab;
        }
        .read-more {
          font-size: 0.8em;
          text-decoration: underline;
        }
      }
    }

    // EWU Footer
    // -------------------------
    .ewu-footer {
      @include box-shadow(0 -8px 0 rgba($black, 0.1));
      position: relative;
    }

