/*  =========================================================================  */
//  
//  App.scss
//  Built on Foundation 4 - http://foundation.zurb.com/
//  Using best practices from SMACSS - http://smacss.com/
//
//  Comment early and often.
//
    @charset "UTF-8";
//
/*  =========================================================================  */


//  =============================================================================
//  Imports
//  =============================================================================

    @import "global";

//  =============================================================================
//  Webfonts
//  =============================================================================
	
		@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=dc3e9658-e932-4dc8-9875-10f94230d6e0");

		@font-face{
		font-family:"DIN Next W01 Bold";
		src:url("../webfonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix");
		src:url("../webfonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix") format("eot"),url("../webfonts/9949035f-6226-4080-a14a-bf7d94ffb1e1.woff") format("woff"),url("../webfonts/6241bd09-15c2-485e-9796-9db8d0aa6974.ttf") format("truetype"),url("../webfonts/af94da3e-4232-416a-b6bc-f39f85dd5db6.svg#af94da3e-4232-416a-b6bc-f39f85dd5db6") format("svg");
		}
		@font-face{
		font-family:"DINNextW01-BoldItalic";
		src:url("../webfonts/d7c339aa-46b7-4f31-8573-7ea230bfcbbb.eot?#iefix");
		src:url("../webfonts/d7c339aa-46b7-4f31-8573-7ea230bfcbbb.eot?#iefix") format("eot"),url("../webfonts/140a0a6f-f218-4071-8eb8-f2bc45ed5121.woff") format("woff"),url("../webfonts/ecbfe302-4f46-4fef-b823-83eedbc353e7.ttf") format("truetype"),url("../webfonts/58f54e11-a0ac-4cfa-852e-3c73b93d74a8.svg#58f54e11-a0ac-4cfa-852e-3c73b93d74a8") format("svg");
		}
		@font-face{
		font-family:"DIN Next W01 Italic";
		src:url("../webfonts/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix");
		src:url("../webfonts/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix") format("eot"),url("../webfonts/c5635d60-91fa-4e4b-8a51-41c97fc744c3.woff") format("woff"),url("../webfonts/de34232f-b870-49c0-a6c0-24c25db73bc2.ttf") format("truetype"),url("../webfonts/35916fb2-3ed3-4d39-bec8-74155a53b1f0.svg#35916fb2-3ed3-4d39-bec8-74155a53b1f0") format("svg");
		}
		@font-face{
		font-family:"DIN Next W01 Regular";
		src:url("../webfonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
		src:url("../webfonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("../webfonts/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("../webfonts/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("../webfonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
		}
		@font-face{
		font-family:"DIN Next W02 Cond";
		src:url("../webfonts/8cf2ee30-97aa-4b89-9947-8facccba0d0b.eot?#iefix");
		src:url("../webfonts/8cf2ee30-97aa-4b89-9947-8facccba0d0b.eot?#iefix") format("eot"),url("../webfonts/68b2a800-4041-4d83-94d6-2489e5b32bff.woff") format("woff"),url("../webfonts/647359e3-dec6-4948-aa1c-d8aa895946ae.ttf") format("truetype"),url("../webfonts/79b3cc8e-6148-4a17-9849-fb52c73f376a.svg#79b3cc8e-6148-4a17-9849-fb52c73f376a") format("svg");
		}
		@font-face{
		font-family:"ITCLubalinGraphW01-Demi";
		src:url("../webfonts/cc99e9f2-4765-47e8-8e9e-f8afa7f45aa2.eot?#iefix");
		src:url("../webfonts/cc99e9f2-4765-47e8-8e9e-f8afa7f45aa2.eot?#iefix") format("eot"),url("../webfonts/59400685-dc94-4bda-8b78-cceef07d0471.woff") format("woff"),url("../webfonts/d8199ae6-f15d-4aad-b2c6-4fb6aa728384.ttf") format("truetype"),url("../webfonts/33772b07-3175-4e1c-9aca-009627307668.svg#33772b07-3175-4e1c-9aca-009627307668") format("svg");
		}

//  =============================================================================
//  Variables
//  =============================================================================
	
	$header-top-color: #facd3b;
	$header-darker-orange: #eda72d;
	$main-nav-color: #eb5b46;
	$white: #fff;
	$menu-slider-bg: #eb5b46;
	$menu-slider-border: #d74833;
	$green: #86a03c;

	$black: #222;

	// Fonts
	$DIN: "DIN Next W01 Regular", "helvetica neue", helvetica, sans-serif;
	$DIN-italic: "DIN Next W01 Italic", "helvetica neue", helvetica, sans-serif;
	$DIN-bold: "DIN Next W01 Bold", "helvetica neue", helvetica, sans-serif;
	$DIN-bold-italic: "DINNextW01-BoldItalic", "helvetica neue", helvetica, sans-serif;
	$DIN-condensed: "DIN Next W02 Cond";
	$slab: "museo-slab";



//  =============================================================================
//  Base
//  =============================================================================

		body {
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAGUlEQVQYV2P4/+4SED29tpcBQgFJBggFRABn8RfjJMTz8AAAAABJRU5ErkJggg==) repeat;
		}

		h4, h5, h6 {
			font-family: $DIN-bold;
			font-weight: normal;
		}
		a {
			color: #eb5b46;
		}
		a:hover, a:focus {
    		color: #f7b144; 
    		cursor: url(../img/cursor.png), auto;
    	}

		// Buttons
		// -------------------------

		.button, button {
		  background: $main-nav-color;
		  border-color: darken($main-nav-color, 10%);
		  @include box-shadow(inset 0 1px 0 rgba($white, 0.2), 0 4px 10px rgba($black, 0.3));
		  @include border-radius(6px);
		  font-family: $DIN-condensed;
		  text-transform: uppercase;
		  @include text-shadow(0 -2px 0 rgba($black, .1));
		  @include transition(all 0.2s ease-in-out);
		  &:hover {
		    background: lighten($main-nav-color, 5%);
		  }
		  &.red {
		  	background-color: #db6d55;
		  	@include filter-gradient(#db6d55, #d03f30, vertical);
		  	$experimental-support-for-svg: true;
		  	@include background-image(linear-gradient(top, #db6d55 0%,#d03f30 100%));
		  	border-color: darken(#d03f30,2%);
		  	&:hover {
		  		background-color: #eb8771;
		  		@include filter-gradient(#eb8771, #e56051, vertical);
		  		$experimental-support-for-svg: true;
		  		@include background-image(linear-gradient(top, #eb8771 0%,#e56051 100%));
		  	}
		  }
		  &.green {
		  	background-color: #9aaa4b !important;
		  	@include filter-gradient(#9aaa4b, #67842e, vertical);
		  	$experimental-support-for-svg: true;
		  	@include background-image(linear-gradient(top, #9aaa4b 0%,#67842e 100%));
		  	border-color: darken(#67842e,2%);
		  	&:hover {
		  		background-color: #afbd69;
		  		@include filter-gradient(#afbd69, #8cb33f, vertical);
		  		$experimental-support-for-svg: true;
		  		@include background-image(linear-gradient(top, #afbd69 0%,#8cb33f 100%));
		  	}
		  }
		}

// ==-=-=-=--=-=-=--=-==-=--=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-==-=-=-=
// Mobile Breakpoint 768
// ==-=-=-=-=-=-=-==-=-=-==-==-=-=-=-=-=--=-=-=-===-=--=-=-=-=-=-=-=-=-=-

@media only screen and (min-width: 461px) and (max-width: 767px) {
	#rev_slider_1_1, #rev_slider_1_1_wrapper{
		width: 100% !important;
		height: 336px !important;
	}
	.brand_wrapper {
		width: 50% !important;
	}
	.promo {
		width: 50% !important;
		text-align: center !important;
		
	}
	.second-header {
		height: 42px !important;
	}
	.nav-main ul {
		float: right !important;
		margin: 0 !important;
	}
	.flex-viewport {
		width: 85%;
		margin: 0 auto;


	}
	ul.flex-direction-nav {

		li {

			a.flex-prev {
				left: 9px !important;
			}
			a.flex-next {
				right: 9px !important;
			}
		}

	}

	.site-footer .half-width {
		width: 100%;
	}
	.site-footer .half-width.lt .container {
		margin-right: 80px;
	}
	footer.mobile-footer {
		display: none !important;
	}

	//Menu Page Stylings

	body.menu #sidebar {
		display: none;
	}
	.menu-categories {
		width: 90%;
		margin: 0 auto;
		float: none;
	}

	//Locations Page Stylings

	.page-template-page-location-php {
	  #sidebar {
	    display: none;
	  }
	}
	.page-template-page-menu-php {
		#sidebar {
			display: none;
		}
	}
	body.locations {

		#sidebar {
		display: none;
		}

		li.location {

			.image {
				width: 35%;
			}
			.information {
				width: 55%;
			}
		}
	}

	//Single Post Stylings

	body.single-post {
		#sidebar {
			display: none;
		}
	}




}

// ==-=-=-=--=-=-=--=-==-=--=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-==-=-=-=
// Mobile Breakpoint 460
// ==-=-=-=-=-=-=-==-=-=-==-==-=-=-=-=-=--=-=-=-===-=--=-=-=-=-=-=-=-=-=-

@media only screen and (max-width: 460px) {

	.banner {
		padding-bottom: 15px;
	}

	.brand_wrapper {
		padding: 0 !important;
	}

	a.brand {
		background: url("../img/mobile_logo.png") no-repeat scroll center center transparent;
		width: 300px;
		height: 73px;
		margin: 0 auto;
		text-indent: -9999px;
		display: block;
	}
	.promo {
		width: 100% !important;
		text-align: center !important;
		margin-top: 20px;
		background-color: #eda72d;
		padding-top: 10px;
	}

	.page-template-page-menu-php {
		#sidebar {
			display: none;
		}
	}
	.page-template-page-location-php {
	  #sidebar {
	    display: none;
	  }
	  ul.locations {
			.location {
				width: 100% !important;
			}
		}
	}



	footer {

		.half-width {
			display: none;
		}
		
	}
	

	footer.mobile-footer {

		nav {
			li {
				margin-bottom: 10px;
				&.menu-locations {
				background: url(../img/mobile_menu_1.png) repeat-x;
				}
				&.menu-menu {
					background-color: #fbcd3b;
				}
				&.menu-about-us {
					background-color: #f9ad3d;
				}
				a{
					color: #fff;

				}
				
			}
		}
	}
}


//  =============================================================================
//  Layout
//  =============================================================================

	.banner {
		background-color: $header-top-color;
		padding-top: 15px;
		position: relative;
		z-index: 5;
	}
	.first-header {
		max-height: 115px;
	}
	.second-header {
		background-color: $white;
		height: 42px;
		border-top: 2px solid $header-darker-orange;

		-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
		box-shadow: 0 2px 8px rgba(0,0,0,0.2);
	}
	hr {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAIAAAAW4yFwAAAAEElEQVQYV2M4s38lw////wETXQUyn34A7gAAAABJRU5ErkJggg==) repeat-x;
		border: none;
		height: 2px;
		margin: 0 auto;
		max-width: 1000px;
	}

//  =============================================================================
//  Modules
//  =============================================================================

// Header Styles
	.brand {
		background: url(../img/logo.png);
		width:420px;
		height: 147px;
		text-indent: -9999px;
		display: block;
		@include background-size(100%);
		@media (max-width: 767px) {
			background-image: url(../img/mobile_logo.png);
			height: 66px;
			width: 300px;
			background-repeat: none;
		}
	}

	// Nav Styles
	nav.nav-main.left ul {
		left: 440px !important;


	}
	nav.nav-main {
		.nav {
			list-style: none;
			position: relative;
			top: 0px;
			left: 0;

			& > li {
				margin-left: 5px;
				padding: 6px 0;
				border-top: 4px solid $white;

				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;

				a {
					font-size: 16px;
					padding: 0 10px;
					text-transform: uppercase;
					color: $main-nav-color;
					display: block;
					&:hover {
						color: lighten($main-nav-color, 10%);
						cursor: url(../img/cursor.png), auto;
					}
				}
				&.active {
					border-top: 4px solid $header-darker-orange;
				}
				&:hover {
					border-top: 4px solid lighten($header-darker-orange, 30%);

					
				}
			
				// Dropdown Nav
				&.dropdown {
					.dropdown-menu {
						background: rgba($green, 0.8);
						li {
							a {
								font-family: $slab;
								&:hover {
									color: #fbcf20;
								}
							}
						}
					}
				}
			
			}
		}
	}

	//Slider Styles 

	.slider {
		top: -15px;
		
	}
	#slider-container {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAGklEQVQYV2P4/PkLED158owBTD0FkgwQCogAeUYZJSPgInoAAAAASUVORK5CIIA=);
	}

	.pager-house {
		background: url(../img/pager_bg.png) repeat-x;
		margin-top: -63px;
		height: 64px;
	}

	.tp-bullets {
	  bottom: 0px !important;
	}
	.tp-bullets.simplebullets.round .bullet {
	  background: none;
	  background-color: #e4882d;
	  border-radius: 50%;
	  height: 30px;
	  width: 30px;
	  margin-top: 0;

	  counter-increment: my-awesome-counter;
	  &:before {
	    content: counter(my-awesome-counter);
	    color: $white;
	    display: block;
	    font-family: $DIN-bold;
	    width: 30px;
	    line-height: 34px;
	    text-align: center;
	  }
	}
	.tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected {
	  background-color: #cd2b27;
	}

	.tp-bullets .tparrows {
	  background: url(../img/pager-arrows.png) no-repeat top #e4882d;
	  border-radius: 50%;
	  width: 30px;
	  height: 30px;
	  margin-top: 0;
	  margin-right: 7px;
	  &.tp-rightarrow {
	    background-position: right top;
	  }
	  &.tp-leftarrow {
	    background-position: -1px top;
	  }
	  &:hover {
	  	background-color: #cd2b27;
	  }
	}

	// Slider text styles

	.tp-caption.big_orange{
		position: absolute; 
		color: $header-darker-orange; 
		text-shadow: none; 
		font-weight: 700; 
		font-family: $slab;
		font-size: 42px; 
		line-height: 42px; 
		padding: 0px 4px; 
		margin: 0px; 
		border-width: 0px; 
		border-style: none; 
		background-color:transparent;;	
		letter-spacing: -1.5px;															
	}
	

	// Special Flex space
	.flexible-spaces > div:first-child {
		background-color: $menu-slider-bg;
		border-top: 5px solid $menu-slider-border;
		color: $white;
		position: relative;
		@include box-shadow(0 5px 0 rgba($black, 0.1));
		h4, h6 {
			color: $white;
		}
	}

	// Flexible Space: Two Column

	#left-two-col {
		h2 {
			color: #869f3b;
			font-family: $slab;
			@include text-shadow(0 1px 0 rgba($white, 1));
		}
	}

	// Flexible Space: Grid

	.three_feature {
		h3.featured {
			
			color: #eb5c47;
			font-family: $slab;
			font-weight: 700;
			text-shadow: 0 1px 0 white;
			text-align: center;
			font-size: 24px;
		}
		h4 {
			color: #f7b144;
			@include text-shadow(0 1px 0 rgba($white, 1));
			a {
				color: #f7b144;

				&:hover {
					color: #eb5b46;
				}
			}
		}
	}


	// Flexible Space: Menu Slider Styles 

	#menu_slider {
		.flexslider {
			margin: 35px 0;
			padding: 0;
			position: relative;
		}
		ul {
			list-style: none;
			max-height: 225px;
			margin: 0 0 0 12px;
			overflow: hidden;
			li {
				margin: 5px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}

				.image-wrapper {
					//background: url(../img/menu_slide_bg.png) no-repeat;
					background: #FFF;
					display: inline-block;
					height: 164px;
					//width: 201px;
					padding: 11px;
					//margin: 25px auto 15px;
					//width: 172px;
					
					-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
					-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
					box-shadow: 0 0 10px rgba(0,0,0,0.3);
				}
					img {
						border:1px solid #c8c8c8;
					}

					h6 {
						font-family: $slab;
						font-weight: normal;
						margin: 5px 0 0;
						text-align: center;
					}
				}


		}
	}

	#menu-carousel .flex-direction-nav li a {
		background: url(../img/carousel-nav.png);
		width: 46px;
		height: 46px;
		display: block;
		position: absolute;
		top: 59px;
		text-indent: -9999px;
		&:hover {
			opacity: 0.8;
		}
		&.flex-prev {
			left: -46px;
		}
		&.flex-next {
			background-position: top right;
			right: -46px;
		}
	}

.mailing-list {
	h2 {
		color: #eb5c47;
		font-family: $slab;
		font-weight: 700;
		@include text-shadow(0 1px 0 rgba($white, 1));
	}

	.mail-image {
		text-align: right;
		padding-right: 30px;
	}
	.text {
		float: left !important;
	}
}


// Slider mask

.mask {
	background: rgba(255,255,255,0.3);
}

//Basic Page Styling 

.content {
	
background: #fff url(../img/page_bg.png) repeat-x top;


.page-header {
	padding: 15px 0;
	h1 {
		font-size: 28px;
		font-family: $slab;
		font-weight: 700;
		color: $green;
		margin: 0;
		text-shadow: 0 1px 0 #fff;
	}
}


}


//Single Post Styling 

.entry-title {
	font-size: 28px;
	font-family: $slab;
	font-weight: 700;
	color: $green;
	margin: 20px 0 0 0;
	text-shadow: 0 1px 0 #fff;
}
.entry-meta {
	font-size: 12px;
	font-family: $slab;
	font-weight: 500;
	color: #c9651c;
	text-shadow: 0 1px 0 #fff;

	.fn {
		color: #c9651c;

		&:hover {
			opacity: 0.80;
			text-decoration: none;
		}
	}
}
.entry-content p {
	margin-top: 10px;
	font-size: 16px;
	font-family: $slab;
	font-weight: 500;
}

// Locations
// -------------------------
.location-categories {
	list-style: none outside none;
	font-size: 1em;
	margin-bottom: 0;
	padding: 30px 20px;
	text-align: right;
	li {
		display: inline-block;
		a {
			color: $black;
			display: inline-block;
			padding: 4px;
			text-transform: uppercase;
			&:after {
				content: '\2022';
				display: inline-block;
				padding-left: 10px;
			}
		}
		&.active a {
			color: $main-nav-color;
			font-family: $DIN-bold;
			&:after {
				color: $black;
				font-weight: normal;
			}
		}
	&:last-child {
		a:after {
			content: '';
		}
	}
	}
	
}

// Locations
// -------------------------
.locations #main-content {
  margin-bottom: 30px;
}
ul.locations {
  list-style: none outside none;
  margin: 0 0 30px 0;
  padding: 0;
  .location {
    margin: 0 0 20px;
    width: 50%;
    float:left !important;
    height: 130px;
    .image {
      float: left;
      width: 40%;
    }
    .information {
      float: left;
      margin-left: 5%;
      width: 55%;
      .address {
                  color: #999;
                }

       span b {
       	color: $main-nav-color;
       }
    }
  }
}

.location {
	a:hover {
		opacity: 0.8;
	}
	h4 {
		color: #ec6754;
		font-family: $slab;
		font-weight: 700;
	}
	span {
		b {
			color: #316f3c;
		}
	}
}

//Location Page Styling
.location-wrap {

}
#map {
	height: 360px;
	margin-top: -25px;

}

#details {
	.social-ul {
		text-align: right;
	}
	.social a {
		color: #859f3b;
	}
	.information {

	}
	.additional-info {
		.news {
			h4 {
				color: #f7ad3c;
				margin: 0 0 10px;
			}
			h5 {
				margin: 0px;
			}
			h5 a {
				color: #c9651c;
				font-family: $slab;
				font-weight: 700;
				margin: 0;
			}
			time {
				color: #c9651c;
				font-family: $slab;
				font-size: 0.7em;
				font-style: Italic;
			}
			p {
				color: $black;
				font-family: $slab;
				font-size: 0.9em;
			}
			.read-more {
				color: $black;
				font-size: 0.9em;
				text-decoration: underline;
			}
		}
	}
}

//  =============================================================================
//  Menu Items
//  =============================================================================

		.menu-categories, .page-sub {
			list-style: none outside none;
			font-size: 1em;
			margin-bottom: 0;
			padding: 30px 20px;
			border-bottom: 1px solid #cfc3ae;
			li {
				display: inline-block;
				a {
					color: $black;
					display: inline-block;
					padding: 4px;
					text-transform: uppercase;
				}
				&.active a, &.current_page_item a {
					color: $main-nav-color;
					font-family: $DIN-bold;
				}
			}
			
		}
		.page-sub {
			padding: 10px 0 !important;
			border-bottom: 0;
		}

		.menu-items {
			
			.menu-item {
				width: 50%;
				float: left;
				padding: 20px;
				img {
					border: 10px solid $white;
					@include box-shadow(0 0 10px rgba(0,0,0,.15));
				}
				h5 {
					color: darken($header-top-color, 15%);
					font-size: 24px;
				}
				p {
					padding-bottom: 40px;
					border-bottom: 1px dotted #DDD;
					margin-bottom: 0;
				}
				&:last-child p {
					border-bottom: 0;
				}
			}

		}

// Blog Template
// -------------------------

.single-post .main, .blog .main {
	footer {
		.divider {
			font-weight: 700;
		}
		a, .divider {
			color: #c9651b;
		}
	}
}

.single-post #sidebar_right, .blog #sidebar_right {
  h4, ul {
    font-family: $slab;
  }
  h4 {
    color: #86a135;
    font-weight: 700;
  }
  ul {
		color: #c9651b;
		a {
			color: #c9651b;
		}

  }
}

//Footer Styling

.site-footer {
	.half-width {
		&.lt {
			background-color: #f4ba3b;
			@include box-shadow(inset 0 0 150px #f2aa3b, inset 0 0 150px #f2aa3b);
			border-right: 1px solid #FBDF7E !important;
			.copyright {
				color: #c9651c;
			}
			.social {
			  a {
			    color: darken(#dda335, 10%);
			  }
			}
		}
		&.rt {
			background-color: #f2aa3b;
			border-left: 1px solid #C27700 !important;
		}
	}
}

// Recent news
// -------------------------

.recent-news {
	li {
		time {
			color: #cc691e;
		}
		p {
			color: $white;
		}
	}
}

